body {
 background-image: url("https://www.nasa.gov/sites/default/files/images/672309main_M107_full.jpg");
 
}
h1{
 color:maroon; 
  font-family:Helvetica;
  text-align:center;
    background-color: lightblue;
  width: 200px;
    padding: 25px;
    border: 25px solid blue;
  }
figure{
    text-align:right;
 
}
div.button {
 
 color: white;
  background-color: #4CAF50; /* Green */
  text-align:center;
  width:25px;
 height:25px;
}
