body {
 background-image: url("https://www.nasa.gov/sites/default/files/images/672309main_M107_full.jpg");
 
}
h1{
 color:maroon; 
  font-family:Helvetica;
  text-align:center;
    background-color: lightblue;
  width: 200px;
    padding: 25px;
    border: 25px solid blue;
  }
figure{
    text-align:right;
 
}
div.button {
 font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
