body {
 background-image: url("https://www.nasa.gov/sites/default/files/images/672309main_M107_full.jpg");
 
}
h1{
 color:maroon; 
  font-family:Helvetica;
  text-align:center;
    background-color: lightblue;
  width: 200px;
    padding: 25px;
    border: 25px solid blue;
  }
figure{
    text-align:right;
}
div.btn1{
text-align:center;
 background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
}
