h1{
color: #1d59ba;
font-family: Arial;
}
p{
text-align:left;
font-family:Arial;
}
.original{
text-align:left;
width: 400px;
font-size: 0.75em;
font-family: Helvetica;
}

.translated{
text-align:right;
width: 400px;
font-size: 0.75em;
font-family: Helvetica;
}
body {
  width: 70%;
  margin: 40px auto;
  background-color: #6082B6;
  padding: 20px 40px;
  box-shadow: 0 0 20px #999;
    }
