h1{
color: #1d59ba;
font-family: Arial;
}
p{
text-align:left;
font-family:Arial;
}
.original {
    text-align: left;
    width: 100px;
    margin-right: 8px;
}

body {
  width: 70%;
  margin: 40px auto;
  background-color: #6082B6;
  padding: 20px 40px;
  box-shadow: 0 0 20px #999;
    }
.translated {
    display: inline-block;
    background-color: #72AD21;
    width: 150px;
    height: 75px;
    margin: 10px;
    border: 3px solid #73AD21;
    text-align:right;
}
