html {
    background-color: #6082B6;
	color: #FFC40C;
    font-family: "Times New Roman", Times, serif;

}
/* The background color is glaucous, which is the color of the natural coating on grapes and plums.
#FFC40C, called Mikado, is the color of the text, and probably named after the Gilbert and Sullivan Opera.*/
